<html>
    <body>
        {{> header}}
        <table
        width="100%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="padding: 30px 20px; font-family: Arial, sans-serif"
        >
        <tr>
            <td style="text-align: justify">
            <p style="font-size: 16px; color: #333">¡Hola!</p>
            <p style="font-size: 16px; color: #333">
                Nos alegra mucho que formes parte de <strong>VBELA</strong>, la
                plataforma que transforma la manera en que gestionas tus alquileres
                y restaurantes. Antes de que puedas acceder a todas las
                funcionalidades y ventajas que hemos creado pensando en ti,
                necesitamos que confirmes tu dirección de correo electrónico.
            </p>

            <p style="font-size: 16px; color: #333">
                Esta verificación es un paso importante para garantizar la seguridad
                de tu cuenta y la autenticidad de nuestra comunidad. Al confirmar tu
                correo electrónico:
            </p>

            <ul style="font-size: 16px; color: #333">
                <li>
                <strong>Proteges tu cuenta:</strong> Validar tu correo nos ayuda a
                garantizar que seas el único que pueda acceder a tu información.
                </li>
                <li>
                <strong>Aseguras una comunicación eficiente:</strong>
                Queremos mantenerte informado sobre actualizaciones,
                notificaciones importantes, y, por supuesto, novedades
                emocionantes que tenemos preparadas para ti.
                </li>
            </ul>

            <p style="font-size: 16px; color: #333">
                Para completar este proceso, hemos enviado un código de verificación
                único a tu dirección de correo electrónico.
            </p>

            <strong style="color: #007bff; font-size: 24px">{{code}}</strong>

            <p style="font-size: 16px; color: #333">
                En <strong>VBELA</strong>, valoramos profundamente tu tiempo y tu
                confianza. Este proceso de validación está diseñado para ser rápido
                y sencillo, porque sabemos que lo más importante es que empieces a
                disfrutar de todas las herramientas y servicios que te ofrecemos.
            </p>

            <p style="font-size: 16px; color: #333">
                Si tienes alguna pregunta o necesitas ayuda, no dudes en ponerte en
                contacto con nuestro equipo de soporte técnico. Estamos aquí para
                ayudarte en cada paso del camino.
            </p>

            <p style="font-size: 16px; color: #333">
                ¡Gracias por elegir <strong>VBELA</strong>! Estamos emocionados de
                ser parte de tu viaje hacia una gestión más eficiente y productiva.
            </p>
            </td>
        </tr>
        </table>
        {{> footer }}
    </body>
</html>