<table
  width='100%'
  border='0'
  cellpadding='0'
  cellspacing='0'
  style='background-color: #1f1f1f; text-align: center; padding: 20px 0; font-size: 14px; color: #FFFFFF; font-family: Arial, sans-serif;'
>
  <tr>
    <td>
      <p style='margin: 0; padding: 0;'>Todos los derechos reservados.</p>
      <p style='margin: 5px 0 0; padding: 0;'>
        <a
          {{!-- href="{{privacyPolicyUrl}}" --}}
          style='color: #007bff; text-decoration: none;'
          target='_blank'
        >Política de Privacidad</a>
        |
        <a
          {{!-- href="{{termsUrl}}" --}}
          style='color: #007bff; text-decoration: none;'
          target='_blank'
        >Términos y Condiciones</a>
      </p>
      <p style='margin: 5px 0 0; padding: 0;'>Si desconoce este correo, puede
        ignorarlo.</p>
    </td>
  </tr>
</table>